* {
    margin: 0;
    padding: 0;
}

body {
    color: yellow;
    background-color: black;
    font-family: 'Carme', sans-serif;
}

h4,
h1 {
    padding-left: 50px;
}

#title {
    display: inline-block;
    position: relative;
}

#title::after {
    content: '';
    position: absolute;
    width: calc(100% - 5%);
    transform: scaleX(0);
    height: 7px;
    bottom: -15px;
    border-radius: 25px;
    left: 4%;
    background-color: yellow;
    transform-origin: bottom right;
    transition: transform 1s;
}

#title.play-animation::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#title::after {
    transform: scaleX(0);
}

#title {
    font-size: 200px;
}

#t-text {
    font-size: 50px;
    padding-top: 50px;
}

#title-box {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px;
    height: 100vh;
    width: auto;
    box-sizing: border-box;
    /* Added */
}

.under-animation {
    display: inline-block;
    position: relative;
    color: yellow;
}

.under-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    border-radius: 25px;
    left: 0;
    background-color: yellow;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.under-animation:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

nav {
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 45px;
    padding-top: 25px;
    font-size: 25px;
    min-width: 0px;
    transition: top 0.5s;
}

nav a {
    text-decoration: none;
}

#content p {
    display: flex;
    font-size: 25px;
    padding-left: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}